html {
  height: 100%;
  font-size: 14px;
  body {
    height: 100%;
    word-break: break-all;
    font-size: 14px;
    background: #eeeeee;
    color: #222222;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;
    position: relative;
    cursor: auto;
    #globalheader {
      background: url(../img/bg.jpg) #1f3748;
      background-size: cover;
      color: #ffffff;
      padding: 20px 0;
    }
  }
  main {
    padding: 20px 0;
    h3 {
      font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, osaka, 'ＭＳ Ｐゴシック', Arial, sans-serif;
      font-weight: bold;
      font-weight: normal;
      font-size: 1.5rem;
      color: inherit;
      margin-bottom: 1.5rem;
    }
    span {
      font-weight: bold;
      font-size: 1.5rem;
      margin-right: 10px;
      color: #a35747;
    }
    .top_article_vs_wrap {
      position: absolute;
      right: 0;
      top: 0;
      left: 0;
      bottom: 0;
      margin-top: 20px;
      .top_article_vs {
        width: 3rem;
        height: 3rem;
        border-radius: 100%;
        line-height: 3rem;
        font-size: 1.2rem;
        transition: 0.4s;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        background: #1f3748;
        color: #ffffff;
        margin: 10px auto;
      }
    }
    .social {
      padding-top: 10px;
      margin-top: 30px;
      border-top: 1px solid #e1e1e1;
    }
  }
  .top_article {
    margin-bottom: 10px;
    .panel {
      transition: 0.4s;
    }
    .panel>.row .top_article_cast {
      font-size: 2rem;
    }
  }
  .panel>.row .top_article_cast {
    font-size: 2rem;
  }
  .text-left {
    text-align: left !important;
  }
  .text-center {
    text-align: center !important;
  }
  .text-right {
    text-align: right !important;
  }
  .top_article .panel>.row {
    padding-top: 20px;
    .top_article_cast {
      //どういう意味か分からない
      font-size: 2rem;
    }
  }
  .row:before,
  .row:after {
    content: " ";
    display: table;
  }
  .panel>:last-child {
    margin-bottom: 0;
  }
  .row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 60rem;
  }
  .row:after {
    clear: both;
  }
  .large-offset-2 {
    margin-left: 16.66667% !important;
  }
  .large-5 {
    width: 41.66667%;
  }
  .large-6 {
    width: 50%;
  }
  .large-12 {
    width: 100%;
  }
  .columns {
    position: relative;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    float: left;
  }
  .panel>:first-child {
    margin-top: 0;
  }
  .panel {
    border: none;
    box-shadow: 0 3px 5px #cccccc; // border-style: solid;
    margin-bottom: 1.25rem;
    padding: 0.875rem;
    background: white;
    color: #333333;
    .comment_block:nth-child(even) {
      background: #f0f0f0;
    }
    .comment_block {
      margin: 0 -0.875rem -1px;
      padding: 10px 20px;
      background: #ffffff;
    }
  }
  .single_comments {
    h3 {
      font-size: 1rem;
      line-height: 1.5;
      margin-bottom: 1rem;
    }
    .comment_primary {
      //box-sizing: border-box;
      h3 span {
        color: #a35747;
      }
    }
    .comment_secondary {
      //box-sizing: border-box;
      h3 {
        span {
          color: #4f6996; // font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, osaka, 'ＭＳ Ｐゴシック', Arial, sans-serif;
          // font-weight: bold;
          // font-size: 1.5rem;
          // margin-right: 10px;
        }
      }
    }
  }
  [class*="column"]+[class*="column"]:last-child {
    float: right;
  }
  [class*="column"]+[class*="column"].end {
    float: left;
  }
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .adjustlink {
    margin-bottom: 10px;
  }
  .top_article {
    margin-bottom: 10px;
  }